html, body{
	height: 100%;
	overflow: hidden;
}

body{
	background-color: #666;
	color: #fff;
}

a{
	color: #fff;
}

a:hover{
	color: green;
}

header{
	text-align: center;
	font-weight: 600;
}

.container{
	background-color: #222;
	height: 100%;
	padding: 1rem;
	color: #208FE9;
	border-radius: 10px;
}

.tab-content li{
	margin-bottom: 0.3rem;
	font-size: 1.1rem;
}